img {
    display: block;
    margin-bottom: 20px;
    width: 600px;
}
header, main, footer {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
header {
    text-align: center;
    font-size: 32px;
}
ul {
    list-style-type: none
}
body {
    font-size: 18px;
    font-family: sans-serif;
    background-color: #111;
    color: #9300a7
}
input {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block
}
.quote-id {
    margin-right: 15px;
    display: inline-block;
}
.quote-author {
    margin-left: 5px;
    display: inline-block;
}
.quote-author::before {
    content: " - ";
}