img {
    display: block;
    margin-bottom: 20px;
    width: 600px;
}
header, main, footer {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
header {
    text-align: center;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ul {
    list-style-type: none
}
body {
    font-size: 18px;
    font-family: sans-serif;
    background-color: #111;
    margin-left: 50px;
    color: #ff00ea;
    font-family: Helvetica, sans-serif
}
input {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block
}
.quote-id {
    margin-right: 15px;
    display: inline-block;
    color: #00ff00
}
.quote-author {
    margin-left: 5px;
    display: inline-block;
    color: #00ccff
}
.quote-author::before {
    content: " - ";
}
footer {
    text-align: center;
}